
sudo: required

#os yang mau dipae
dist: trusty

#bahasa yang digunakan
language: php

#versi bahasa yang mau digunakan
pgp:
    - 7.1

#tentukan branch
branches:
  only:
    - master #->staging
    - develop #-> devserver


#before script  -> jalankan instal package dll
before_script:
  - cp .env.travis .env
  - composer install --no-interaction
  - php artisan key:generate
  #sda

script:
  ./vendor/bin/phpunit

  #pas script


# ketika kondisi main execution finish
  after_succes
